logs
*/*pt
**/void
torch-ngp/_dump/
*/.ipynb_checkpoints/
*/__pycache__/
**/gridencoder
**/*ncu-rep
Implicit3DCNN.egg-info/
experiments
*.txt
valcheck/
.vscode
results/
**/*code-workspace

networks/kplanes
baselines/*
